<!DOCTYPE html>
<html lang="zh_CN">
<head>
    {% load staticfiles %}
    <!-- meta设置 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 网页图标 -->
    <link rel="icon" href="{% static 'media/icon/favicon.ico' %}">

    <!-- 网页标题 -->
    <title>报告订阅中心</title>

    <!-- layui CSS -->
    <link rel="stylesheet" href="../static/src/css/layui.css">
    <link rel="stylesheet" href="../static/src/css/arall.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 导航栏 -->
    <div class="layui-header">
        <div class="layui-logo">报告订阅中心 - 首页</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a>{{ productLine }}</a></li>
            <li class="layui-nav-item"><a href="">{{ username }}</a>
                <dl class="layui-nav-child">
                    <dd><a href="/userSetting">修改资料</a></dd>
                    <dd><a href="/logout">注销登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    
    <div class="layui-body-index">
        <input id="userAuth" value="{{userAuth}}" hidden>
        {% if "admin" == userAuth %}
            <br>
            <div class="layui-row layui-col-space1">
                <div class="layui-col-md2">
                    <div class="grid-demo-transparent"></div>
                </div>
                <div class="layui-col-md2">
                    <div class="grid-demo1">
                        <button class="layui-btn2" id="viewAllUser">查看已订阅</button>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="grid-demo"><input type="text" id="inputVersion" placeholder="请输入版本号" autocomplete="off" class="layui-input1"></div>
                </div>
                <div class="layui-col-md2">
                    <div class="grid-demo2">
                        <button class="layui-btn1" id="addversion">新增此版本</button>
                    </div>
                </div>
            </div>
        {% endif %}
        <fieldset class="layui-elem-field layui-field-title">
            <legend>版本列表(版本不区分每日/冒烟)</legend>
        </fieldset>
        {% for version in versionList %}
            <div class="layui-row layui-col-space1">
                <div class="layui-col-md2">
                    <div class="grid-demo-transparent"></div>
                </div>
                <div class="layui-col-md2">
                    <div class="grid-demo1">
                        <button class="layui-btn2" id="{{version.versionName}}">查看已订阅</button>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="grid-demo-for"><b>{{version.versionName}}</b></div>
                </div>
                {% if "admin" == userAuth %}
                <div class="layui-col-md2">
                    <div class="grid-demo2">
                        <button class="layui-btn1" name="version_{{version.id}}">删除此版本</button>
                    </div>
                </div>
                {% else %}
                {% if version.versionName in acList %}
                <div class="layui-col-md2">
                    <div class="grid-demo2">
                        <button class="layui-btn1" value="0" name="version_{{version.id}}">取消订阅</button>
                    </div>
                </div>
                {% else %}
                <div class="layui-col-md2">
                    <div class="grid-demo2">
                        <button class="layui-btn1" value="1" name="version_{{version.id}}">订阅报告</button>
                    </div>
                </div>
                {% endif %}
                {% endif %}
            </div>
            <br>
        {% endfor %}
    </div>
    <!--&lt;!&ndash; 版本列表 &ndash;&gt;-->
    <!--{% for version in versionList %}-->
        <!--<div class="row">-->
        <!--<div class="col-md-2 col-md-offset-2" style="height: 60px;">-->
        <!--<button type="button" class="btn btn-default"-->
        <!--name="{{version.versionName}}" onclick="viewVersionUsers(this)">查看已订阅-->
        <!--</button>-->
        <!--</div>-->
        <!--<div class="col-md-4" style="height: 60px;">-->
        <!--<input class="form-control" style="text-align: center" type="text"-->
        <!--value="{{version.versionName}}" readonly>-->
        <!--</div>-->
        <!--{% if "admin" == userAuth %}-->
            <!--<div class="col-md-2" style="height: 60px;">-->
            <!--<button type="button" class="btn btn-default"-->
            <!--name="version_{{version.id}}" onclick="delVersion(this)">删除此版本-->
            <!--</button>-->
            <!--</div>-->
            <!--{% else %}-->
            <!--{% if version.versionName in acList %}-->
                <!--<div class="col-md-2" style="height: 60px;">-->
                <!--<button type="button" class="btn btn-default"-->
                <!--name="version_{{version.id}}" onclick="abonnementReport(this)" value="0">-->
                <!--取消订阅-->
                <!--</button>-->
                <!--</div>-->
                <!--{% else %}-->
                <!--<div class="col-md-2" style="height: 60px;">-->
                <!--<button type="button" class="btn btn-default"-->
                <!--name="version_{{version.id}}" onclick="abonnementReport(this)" value="1">-->
                <!--订阅报告-->
                <!--</button>-->
                <!--</div>-->
                <!--{% endif %}-->
            <!--{% endif %}-->
        <!--</div>-->
        <!--{% endfor %}-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <script src="../static/src/layui.js"></script>
    <script src="../static/javascript/ARIndex.js"></script>
</body>
</html>
