<!DOCTYPE html>
<html lang="zh_CN">
<head>
    {%load staticfiles %}
    <!-- meta 设置 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- 网页图标 -->
    <link rel="icon" href="{% static 'media/icon/favicon.ico' %}">

    <!-- 网页标题 -->
    <title>报告订阅中心</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
    <link href="../static/css/dashboard.css" rel="stylesheet">
    <link href="../static/css/grid.css" rel="stylesheet">
    <link href="../static/css/selfcss.css" rel="stylesheet" type="text/css">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../static/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/assets/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
<script src="../static/javascript/ARIndex.js"></script>

<!-- 网页最上方的 system menu -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- system menu 显示网站的标题 -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">报告订阅中心</a>
        </div>
        <!-- 显示个人信息 -->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav  navbar-right">
                <li class="dropdown">
                    <a href="javascript:return false;" onclick="return false;" style="cursor: default;" id="productLine"
                       onfocus="return false;">
                        <b>产品线：{{productLine}}</b>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" id="username">
                        {{username}}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/userSetting">修改信息</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/logout" id="logout">
                        <b>注销</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="site-wrapper container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-1 col-md-8 col-md-offset-2 main">
            <h2 class="sub-header">报告订阅</h2>
            <input id="userAuth" value="{{userAuth}}" hidden>
            {% if "admin" == userAuth %}
            <!-- 添加版本 -->
            <div class="row">
                <div class="col-md-2 col-md-offset-2" style="height: 60px;">
                    <button type="button" class="btn btn-default" name="" onclick="viewVersionUsers(this)">
                        查看已订阅
                    </button>
                </div>
                <div class="col-md-4" style="height: 60px;">
                    <input type="text" class="form-control" placeholder="请输入版本名称" id="versionName">
                </div>
                <div class="col-md-2" style="height: 60px;">
                    <button type="button" class="btn btn-default" id="addversion" onclick="addVersion()">
                        添加版本
                    </button>
                </div>
            </div>
            {% endif %}

            <!-- 分割线 -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <input style="background-color: #6E6E6E; border: solid 1px #6E6E6E; height: 30px; font-size:25px; width: 100%; text-align: center"
                           type="text" value="版本列表(版本不区分每日/冒烟)" readonly>
                </div>
            </div>

            <!-- 版本列表 -->
            {% for version in versionList %}
            <div class="row">
                <div class="col-md-2 col-md-offset-2" style="height: 60px;">
                    <button type="button" class="btn btn-default"
                            name="{{version.versionName}}" onclick="viewVersionUsers(this)">查看已订阅
                    </button>
                </div>
                <div class="col-md-4" style="height: 60px;">
                    <input class="form-control" style="text-align: center" type="text"
                           value="{{version.versionName}}" readonly>
                </div>
                {% if "admin" == userAuth %}
                <div class="col-md-2" style="height: 60px;">
                    <button type="button" class="btn btn-default"
                            name="version_{{version.id}}" onclick="delVersion(this)">删除此版本
                    </button>
                </div>
                {% else %}
                {% if version.versionName in acList %}
                <div class="col-md-2" style="height: 60px;">
                    <button type="button" class="btn btn-default"
                            name="version_{{version.id}}" onclick="abonnementReport(this)" value="0">
                        取消订阅
                    </button>
                </div>
                {% else %}
                <div class="col-md-2" style="height: 60px;">
                    <button type="button" class="btn btn-default"
                            name="version_{{version.id}}" onclick="abonnementReport(this)" value="1">
                        订阅报告
                    </button>
                </div>
                {% endif %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- javascript 放在最后面，网页加载速度更快 -->
<script>window.jQuery || document.write('<script src="../static/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../static/dist/js/bootstrap.min.js"></script>
<script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
